<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/css/banner.css">
</head>
<html>
    <header>
  <div class="banner">
    <div class="menu-group">
      <div>
        <a href="/"><button class="header-btn">Home</button></a>
      </div>
      <div>
        <a href="/dashboard"><button class="header-btn">Dashboard</button></a>
      </div>
      <div>
        <a href="/random"><button class="header-btn">Random</button></a>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Learn</button>
        <div class="dropdown-content">
          <a href="#">Original Studies</a>
          <a href="#">Methodologies</a>
          <a href="#">Review Papers</a>
          <a href="#">Study Replication</a>
        </div>
      </div>
         <div class="dropdown">
        <button class="dropbtn">Universities</button>
        <div class="dropdown-content">
          <a href="#">The U</a>
          <a href="#">Community COllege</a>
        </div>
      </div>
        <div class="dropdown">
        <button class="dropbtn">Companies</button>
        <div class="dropdown-content">
          <a href="#">Shop Electronics</a>
          <a href="#">Buy Lab Equipment</a>
        </div>
      </div>
         <div class="dropdown">
        <button class="dropbtn">Community</button>
        <div class="dropdown-content">
          <a href="#">Forums</a>
          <a href="/jobs">Open Positions</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">About</button>
        <div class="dropdown-content">
          <a href="#">Legal</a>
          <a href="#">Beliefs</a>
        </div>
    </div>
    </div>
    
    </form>
    <div class="search-bar">
        <form id="search-box" action="/search" method="POST">
            <input type="text" name='query' placeholder="Search the site... &#128269" required>
            <button type="submit" hidden></button>
        </form>
    </div>
  </div>
</header>
<script src="/js/banner.js"></script>
</html>
