<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/dash.css">
    </head>
    <body>
        <div id="dash-div">
         <div class="dash-dropdown">
        <button class="dash-dropbtn">Create</button>
        <div class="dropdown-content">
          <a class='toggle-link' href='#' onclick="toggleForm('form'); return false;">Upload Study</a>
          <a class='toggle-link' href='#' onclick="toggleForm('jobForm')">Open Job Position</a>
        </div>
      </div>

      <div class="dash-dropdown"><button class="dash-dropbtn">Edit</button></div>
      <div class="dash-dropdown"><button class="dash-dropbtn">Account</button></div>
      <div class="dash-dropdown"><button class="dash-dropbtn">Messages</button></div>
      <div class="dash-dropdown"><button class="dash-dropbtn">About Me</button></div>
      </div>
      <script src="/js/dash.js"></script>
      <script src="/js/dashboard.js"></script>
    </body>
</html>