
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

   <div class="auth-box">
      <h1> &infin; Welcome to Collab, <%= username  %>! &infin;</h1>
    <form action="/login2" method="POST">
        <div id="login-box">
            <input type="text" name="identifier" placeholder="Username or Email" required>
            <input type="password" name="password" placeholder="Password" required>
        </div>
      <button class='auth-btn' type="submit">Login</button>
    </form>
    <form action="/login3" method="POST">
      <button class='auth-btn' type="submit">AutoLogin</button>
    </form>
    <a href="/register"><button class="auth-btn">Register</button></a>
    <form action="/logout" method="POST">
        <button type="submit">Logout</button>
    </form>
  </div>
  <title>Your Site - Home</title>
  <link rel="stylesheet" href="css/main.css">
  <%- include('banner'); -%>
</head>


<body>
  <div class="search-container">
    <ul id="search-results">

    </ul>
  </div>
<div class="main-container">
  <div class="media-box">
    <h3>Featured Video</h3>
    <iframe src="https://www.youtube.com/embed/dQw4w9WgXcQ" allowfullscreen></iframe>

    <h3>Latest Image</h3>
    <img src="/images/launch2.jpg" width="400px" alt="Latest Image">
  </div>
</div>
<script src="/js/main.js"></script>
</body>
</html>
