<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/main.css">
        <%- include('header'); -%>
    </head>
    <body>
    <h1>My Site</h1>
    <button id="signUpBtn">Join</button>
    <form method="POST" action="/create">
        <input name="title" placeholder="Page Title" required><br>
        <textarea name="content" placeholder="Page Content" required></textarea><br>
        <button type="submit">Create Page</button>
    </form>

    <h2>Pages</h2>
    <ul id="page-list">
        <% pages.forEach(page => { %>
        <li><a href="/pages/<%= page.slug %>"><%= page.title || page.name %></a></li>
        <% }) %>
    </ul>
    <script src="js/main.js"></script>
    </body>
</html>