<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User Directory</title>
  <link rel="stylesheet" href="/components/userCard.css">
</head>
<body>
  <div id="card-container"></div>

  <script type="module" src="/js/usersPage.js"></script>
</body>
</html>
