    body {
      font-family: Arial, sans-serif;
      margin: 0;
      /* background: #f4f4f4; */
        background: radial-gradient(circle at top left,rgb(163, 176, 182),rgb(147, 201, 214),rgb(190, 199, 202));
    }

    